---
apiVersion: v1
kind: Service
metadata:
  name: my-app
  namespace: default
  labels:
    app: my-app
spec:
  type: ClusterIP
  selector:
    app: my-app
    my-app/is-leader: "true"  # Route traffic ONLY to the leader pod
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
